body{
    font-family: 'Inter', sans-serif;
    /* width:100%;
    height: 100Vh; */

}
*,p,h1,h2{
    /* padding: 0px !important; */
    margin: 0px !important;
}
/* nav section */

nav>img{
    width: 150px;
    height: 88.67px;
}
nav{

    /* border: 2px solid green; */
    /* width: 20rem; */
    /* padding: 15px !important;
    position: absolute; */
    /* position: absolute; */
    /* width: 159px;
    height: 94px; */
    /* left: 270px;
    top: 18px; */
}

/* first section starts here*/
section{
    height: 58.5rem;
    width: 110rem;
    background: #f5dd9c;
    padding: 0px !important;
    position: relative;
}
section>div{
   /* border: 2px solid red; */
   min-height: 100%;
   /* width: 110em; */
   
}

/* section>div.row{
    border: 2px solid red;
    height: 100%;
    width: 100%;
} */

section>div.row>div.col-md-8{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

section>div.row>div.col-md-8>div.row>.form-sec{
    /* width: 70rem; */
    height: 40rem;
    /* border: 2px solid rgb(29, 13, 13); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* padding: 0px !important; */
}

section>div.row>div.col-md-8>.row>form{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

section>div.row>div.col-md-8>.row>form p{
    font-Weight:400px;
    font-Size:20px;
}
section>div.row>div.col-md-8>.row>form input{
    width: 380px;
    height: 63.98px;
}

section>div.row>div.col-md-4{
    background-image: url("/img/travler.jpg");
    transition: background 2s ease;
    /* background-image: url("/img/googleMap.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid rgb(238, 218, 36); */
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    /* height: 58.5rem !important; */
}

button{
    font-size: 24px !important;
    width: 380px;
    height: 50px;
    background: #F48222 !important;
    border:2px solid #F48222;
    border-radius:13px !important;
    display: flex;
    flex-flow: row nowrap !important;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.b-g{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100rem;
}

.btc-find{
    font-size: 24px !important;
    width: 159px !important;
    height: 50px;
    background: #F48222 !important;
    border:2px solid #F48222;
    border-radius:13px !important;
    display: flex;
    flex-flow: row nowrap !important;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.btc-view{
    font-size: 24px !important;
    width: 254px;
    height: 50px;
    background: #F48222 !important;
    border:2px solid #F48222;
    border-radius:13px !important;
    display: flex;
    flex-flow: row nowrap !important;
    align-items: center;
    justify-content: cente/r;
    gap: 10px;

}
#go-back{
    font-size: 24px !important;
    width: 254px;
    height: 50px;
    background: #F48222 !important;
    border:2px solid #F48222;
    border-radius:13px !important;
    display: flex;
    flex-flow: row nowrap !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px;
}

button>img{
    width: 30px;
}

#view{
    display: none;
}
/* section for map-details-section been hidden */
#map-details-section{
    display: none;
}
#map-section{
    display: block;
}


/* ======================================== */
/* country/flag/details-section */
#flag{
    height: 200px;
    width: 300px;
}


/* ======================================== */

/* ---Mobile view section start here--- */
@media screen  and (max-width: 753px) {



*,p,h1,h2{
    padding: 0px !important;
    margin: 0px !important;
}
/* nav section */

nav{

    /* border: 2px solid green; */
    /* width: 20rem; */
    padding: 15px !important;
}

/* first section starts here*/
section{
    height: 100vh !important;
    /* width: 110rem; */
    background: #f5dd9c;
    padding: 0px;
    position: relative;
}

section>div.row{
   /* border: 2px solid red; */
   height: 100% !important;
   /* width: 110em; */
   margin-top: 0px !important;
   
}



section>div.row>div.col-sm-12{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    padding: 0px ;
    height: 100% !important;

}

section>div.row>div.col-md-8>div.row>.form-sec{
    /* width: 70rem; */
    height: 28rem;
    /* border: 2px solid rgb(29, 13, 13); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    /* padding: 0px !important; */
}

section>div.row>div.col-md-8>.row>form{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

section>div.row>div.col-md-8>.row>form p{
    font-Weight:400px;
    font-Size:18px;
}
section>div.row>div.col-md-8>.row>form input{
    width: 255px;
    height: 42px;
}
div.bt{
    padding-top: 15px;
}


button{
    font-size: 18px !important;
    width: 255px;
    height: 42px;

}

section>div.row>div.col-md-4{
    height: 50rem !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

button>img{
    width: 20px;
}

#view{
    /* display:block; */
    position: absolute;
    top: 73%;
    right: 8px;
}

#map-section{
    display: none;
}

}
/* @media (width < 730) {
    
} */

