body{
    font-family: 'Inter', sans-serif;
    /* width:100%;
    height: 100Vh; */
    background: #f5dd9c !important;
}
*,p,h1,h2{
    /* padding: 0px !important; */
    margin: 0px !important;
}
/* nav section */

nav>img{
    width: 150px;
    height: auto;
}
nav{
    /* border: 2px solid green; */
    /* width: 20rem; */
    /* width: 100% !important; */
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* first section starts here*/
section{
    height: 58.5rem;
    width: 110rem;
    /* background: #f5dd9c; */
    padding: 0px !important;
    position: relative;
}
/* section>div{ */
   /* border: 2px solid red; */
   /* min-height: 100%; */
   /* width: 110em; */
   
/* } */

/* section>div.row{
    border: 2px solid red;
    height: 100%;
    width: 100%;
} */

section>div.row>div.col-md-8{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 5px;

}

section>div.row>div.col-md-8>div.row>.form-sec{
    /* width: 70rem; */
    height: 40rem;
    /* border: 2px solid rgb(29, 13, 13); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* padding: 0px !important; */
    gap: 20px;
}

/* section>div.row>div.col-md-8>.row{
    display: flex !important;
    flex-flow: column nowrap !important;
    justify-content: center !important;
    align-items: center !important;
} */

section>div.row>div.col-md-8>.row>form p{
    font-Weight:400px;
    font-Size:20px;
}
section>div.row>div.col-md-8>.row>form input{
    width: 380px;
    height: 63.98px;
}

section>div.row>div.col-md-4{
    background-image: url("img/travler.jpg");
    transition: background 2s ease;
    /* background-image: url("/img/googleMap.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid rgb(238, 218, 36); */
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    height: 58.5rem !important;
}

button{
    font-size: 24px !important;
    width: 380px;
    height: 50px;
    background: #F48222 !important;
    border:2px solid #F48222;
    border-radius:13px !important;
    display: flex;
    flex-flow: row nowrap !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin: 10px 0px !important; */

}


#go-back{
    font-size: 24px !important;
    width: 254px;
    height: 50px;
    background: #F48222 !important;
    border:2px solid #F48222;
    border-radius:13px !important;
    display: flex;
    flex-flow: row nowrap !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px;
}

button>img{
    width: 30px;
}

#view{
    display: none;
}
/* section for map-details-section been hidden */
#map-details-section{
    display: none;
}
#map-section{
    display: block;
}


/* ======================================== */
/* country/flag/details-section */
#flag{
    height: auto;
    width: 20em;
}
/* ======================================== */
#country-detail-child-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    height: 41em !important;
    width:100% !important;
    gap: 20px;
}
#country-detail-child-section>.row{
    width: 40rem;
}


#country-detail-child-section p{
    font-Weight:400px;
    font-Size:20px;
    /* border: 2px solid blue; */
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 10px !important;
}
#arrow-down>a>img{
    width: 30px !important;
}
#arrow-down>a{
    background-color: #F48222;
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-view-map-section>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-view-map-section{
    display: none ;
}

/* ======================================== */

/* ---Mobile view section start here--- */
@media screen  and (max-width: 753px) {



*,p,h3{
    padding: 0px !important;
    margin: 0px !important;
}
/* nav section */
nav>img{
    width: 100px;
    height: auto;
}

nav{

    /* border: 2px solid green; */
    /* width: 20rem; */
    padding: 5px !important;
    /* width: 100% !important;*/
    height: auto; 
}

/* first section starts here*/
section{
    height: 100vh !important;
    /* width: 110rem; */
    background: #f5dd9c;
    padding: 0px;
    position: relative;
}

section>div.row{
   /* border: 2px solid red; */
   /* height: 100% !important; */
   /* width: 110em; */
   margin-top: 0px !important;
   
}
.intro-text>p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

}


section>div.row>div.col-sm-12{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items:center ;
    align-content: center;
    /* gap: 20px; */
    padding: 0px;
    height: 100vh !important;

}

/* This applies to the form on mobile view */
section>div.row>div.col-md-8>div.row>.form-sec{
    /* width: 70rem; */
    height: 28rem !important;
    /* border: 2px solid rgb(29, 13, 13); */
    display: flex !important;
    flex-flow: column nowrap !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: space-evenly !important;
    /* padding: 30px 0px !important; */
    /* margin: 30px 0px !important; */
}

/* section>div.row>div.col-md-8>.row>form{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
} */

section>div.row>div.col-md-8>.row>form p{
    font-Weight:400px;
    font-Size:14px;
}
section>div.row>div.col-md-8>.row>form input{
    width: 255px;
    height: 42px;
}
div.bt{/*form row for buttons (find, view location)*/
    /* border: 2px solid rgb(182, 2, 32); */
    padding-top: 15px;
}

button{
    font-size: 14px !important;
    width: 255px;
    height: 42px;
    /* margin: 5px 0px !important; */

}

section>div.row>div.col-md-4{
    height: 100vh !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
}

button>img{
    width: 20px;
}

/* #view{
    position: absolute;
    top: 73%;
    right: 8px;
    border: 2px solid green;
} */

#map-section{
    display: none;
    /* height: 100vh; */
}

/* country/flag/details-section */
#flag{
    height: auto;
    width: 15.5em;
}
/* ======================================== */
#country-detail-child-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    height: 41em !important;
    width:100% !important;
    gap: 20px;
    /* padding: 30px !important; */
}
#country-detail-child-section>.row{
    width: 98%;
}


#country-detail-child-section p{
    /* border: 2px solid blue; */
    border-bottom: 1px solid rgb(255, 255, 255);
    font-Weight:400px;
    font-Size:14px;
    margin-top: 10px !important;
}

/* ======================================== */
.inner-map-section{
    position: absolute;
    width: 47px;
    bottom: 80px;
    right: 20px;
}
#btn-view-map-section{
    display: block;
}

}
/* End of mobile css */

